* {
    box-sizing: border-box;
    margin: 0;
}
.content {
    margin-top: 2%;
}
header img {
    width: 55px;
    float: left;
}
header h1 {
    margin-left: 7%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    clear: both;
}
nav ul {
    margin-top: 3%;
}
.wrapper {
    width: 80%;
    margin: auto;
}
section {
    margin-top: 0%;
}
footer {
    margin: 3%;
    text-align: center;
}
section p {
margin-top: 2%;
}
#paragraf {
    font-family: Arial, Helvetica, sans-serif;
}
.huruf {
    font-size: 20px;
}
.warna {
    background: blue;
}
.bentuk {
    font-style: italic;
}
.huruf-tebal {
    font-style: initial;
}
a {
    text-decoration: none;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
    background: red;
    list-style: none;
    margin: auto;
    padding-left: 0;
}
ul li {
    color: #fff;
    background: red;
    display: inline-block;
    border: 1px blue;
    padding: 10px;
    position: relative;
    text-decoration: none;
}
ul li a {
    color: #fff;
}
ul li:hover {
    background: rgb(59, 59, 59);
    cursor: pointer;
}
ul li ul {
    background: rgb(255, 251, 251);
    visibility: hidden;
    position: absolute;
    margin-top: 0.7rem;
    left: 0;
    display: none;
}
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    display: block;
}
ul li ul li {
    clear: both;
    width: 100%;
}
/* Desain kontak.html */
        input[type=text], select, textarea {
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          resize: vertical;
        }
        
        label {
          padding: 12px 12px 12px 0;
          display: inline-block;
        }
        
        input[type=submit] {
          background-color: #4CAF50;
          color: white;
          padding: 12px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          float: right;
        }
        
        input[type=submit]:hover {
          background-color: #45a049;
        }
        
        .container {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
        }
        
        .col-25 {
          float: left;
          width: 25%;
          margin-top: 7px;
        }
        
        .col-75 {
          float: left;
          width: 75%;
          margin-top: 6px;
        }
        
        
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        
        
        @media screen and (max-width: 600px) {
          .col-25, .col-75, input[type=submit] {
            width: 100%;
            margin-top: 0;
          }
        }
        
      
      